<h3>Sign up</h3>

<form action="/add-user" method="post">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="first_name"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="last_name"><br>
    <label for="email">Email address:</label><br>
    <input type="text" id="email" name="email_address"><br>
    <label for="password">Password:</label><br>
    <input type="text" id="password" name="hash_password"><br>
    <input type="submit" value="Submit">
</form>

@code {

}
