/* Overall page styling */
.page {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #F9F7F4;
}

/* Main content area */
main {
    flex: 1;
}

.sidebar {
    background-color: #F9F7F4;
}

/* Media query for screens wider than 640px */
@media (min-width: 641px) {
    /* Flex layout changes for wider screens */
    .page {
        flex-direction: row;
    }

    /* Sidebar styling for wider screens */
    .sidebar {
        width: 350px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
}