.top-row {
    background-color: #F4F1EA;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    font-size: 16px;
}

    /* Links and buttons in top row */
    .top-row a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        font-size: 20px;
        text-decoration: none;
        font-family: sans-serif;
        color: saddlebrown;
        font-weight: bold;
    }

        /* First child link with ellipsis */
        .top-row a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
            font-family: sans-serif;
            font-size: 20px;
            text-decoration: none;
            color: saddlebrown;
        }

.search-bar {
    margin-left: 5%;
    padding-right: 15%;
    padding-left: 1%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F4F1EA;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {

    /* Positioning and padding changes for top row and content */
    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
